
#home_sidebar > button > p {
    font-size: 10px;
}

#home_sidebar > button:hover{
    background-color: #F2F2F2;
}

#home_sidebar > button > .bi {
    font-size: 24px;
}

#side_videos::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#video_container {
    min-height: 450px;
}

#video_desc {
    min-height: 100px;
    width: 100%;
}

#likes {
    font-size: 16px;
}

#video_title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}